.outerBox {
	width: 40%;
	diplay: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15rem;
	padding: 3rem;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.outerBox h1 {
	width: 100%;
	text-align: center;
	font-size: 3rem;
	color: skyblue;
	margin-bottom: 2rem;
}

#introduce {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

#goToMyInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	font-size: 1.5rem;
	color: white;
	font-weight: 600;
	width: 11rem;
	height: 2.5rem;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 0.6rem;
	border-radius: 5px;
	font-size: 1.5rem;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

#goToMyInfo:hover {
	background-color: tomato;
}

.error {
	font-size: small;
	color: tomato;
	margin-left: 10px;
}