/* @import "../css/myInfo.css"; */

@import "../css/home.css";
@import "../css/login.css";
@import "../css/infoMenu.css";
@import "../css/myInfo.css";
@import "../css/signUpClass.css";

html, body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.title {
	color: skyblue;
	font-size: 2rem;
	diplay:flex;
	width:100%;
	text-align: center;
	padding: 0.5rem;
	margin-top: 3rem;
}